
.pic {
	height: 250px;
	margin-bottom: 20px;
}

#input {
	height: 30px;
	width: 280px;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
}

.burger-div {
	display: block;
	width: 350px;
	margin: 0 auto;
}

.devour, .devoured {
	list-style: none;
}

.devoured li {
	background-color: #137788;
	border: 1px solid #d6d5d4;
	border-radius: 10px;
	font-size: 14px;
	text-align: center;
	text-transform: capitalize;
	color: white;
}

.devoured li {
	width: 290px;
}

.press {
	float: right;
	margin-left: 150px;
	cursor: pointer;
	border-radius: 10px;
	background-color: green;
	color: white;
}

#add {
	height: 40px;
	width: 120px;
	background-color: #c91e1e;
	font-size: 18px;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}

#add:hover {
	background-color: #ad0f0f;
}

.eat {
	margin-top: 20px;
}